@tailwind base;
@tailwind components;
@tailwind utilities;

.flip {
  width: 240px;
  height: 160px;
  text-align: center;
  perspective: 600px;
  cursor: pointer;
}
.flip-content {
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}
.flip-content.flip-clicked {
  transform: rotateY(180deg);
  transition: transform 0.7s;
}

.flip-front,
.flip-back {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 150px;
  backface-visibility: hidden;
  border: 4px solid black;
}
.flip-back {
  transform: rotateY(180deg);
  background-color: lightgray;
}

.card-label {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
